body {background-color:white}
h1{
  font-family: "couriel";
  font-size: 40px;
  color:grey;
  font-weight: 800;
  }
p{
  font-family: "arial";
  font-size: 17px;
  position: relative;
  left: 80px;
}
h2{
  font-family: "arial";
  color:black;
  font-weight: 100;
  font-size: 17px;
  }
